<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpPlatform processPath="%JAVA_HOME%\bin\java.exe" arguments="-Djava.net.preferIPv4Stack=true -Djetty.port=%HTTP_PLATFORM_PORT% -Djetty.base=&quot;%programfiles(x86)%\\jetty-distribution-9.3.13.v20161014&quot; -Djetty.webapps=&quot;%home%\site\wwwroot\webapps&quot; -jar &quot;%programfiles(x86)%\\jetty-distribution-9.3.13.v20161014\start.jar&quot; etc\jetty-logging.xml" startupTimeLimit="500" startupRetryCount="5" />
        <rewrite>
            <rules>
                <!-- BEGIN rule TAG FOR HTTPS REDIRECT -->
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true"
                            redirectType="Permanent"/>
                </rule>
                <!-- END rule TAG FOR HTTPS REDIRECT -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

