<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <filter class="au.gov.dva.sopapi.LogFilter"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>


    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="au.gov.dva.sopapi.LogFilter"/>
        <file>dvasopa pi.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>dvasopapi.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>


    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="dvasopapi.autoupdate" level="trace">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="dvasopapi.soploader" level="trace">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="dvasopapi.repositorycache" level="trace">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </logger>


</configuration>